---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experience = t("EXPERIENCE");
const experienceItems = "ITEMS" in experience ? experience.ITEMS : [];
---

<ol class="relative mt-16">
  {
    experienceItems.map((experience) => (
      <li class="">
        <ExperienceItem
          title={experience.TITLE}
          company={experience.COMPANY}
          description={experience.DESCRIPTION}
          date={experience.DATE}
        />
      </li>
    ))
  }
</ol>
