---
import { TechStack } from "@/constans";
---

<article class="Stack-content">
  {
    TechStack.map((stack: any) => (
      <div class="grid grid-cols-3 items-center justify-center rounded-xl border-2 px-4 py-2 text-gray-800 transition-colors duration-200 bg-gray-100 border-gray-300  dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80  hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
        <stack.icon class="Stack-card-icon size-7" />
        <h4 class="font-medium text-base">{stack.name}</h4>
      </div>
    ))
  }
</article>

<style>
  .Stack-content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
    gap: 10px;
  }
   
</style>
